@use "../../sass/variables"  as *;

.musicCard {
  border: 3px solid $light-secondary;
  padding: 1rem;
  border-radius: .8rem;
  transition: all 1s ease;
  cursor: pointer;

  &:hover {
    border-color: $accent-color;
  }

  .image {
    overflow: hidden;
    border-radius: .8rem;
    width: 100%;
    height: fit-content;

    img {
      width: 100%;
      height: auto;
    }
  }

  .description {
    font-family: "Fira Code", sans-serif ;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      display: block;
      margin: 2px 0;
    }

    .album , .artist {
      font-size: .8rem;
      color: $light-secondary;
    }
  }
}