@use "../../sass/variables"  as *;

.musicCard {
  border: 3px solid $light-secondary;
  padding: 1rem;
  border-radius: .8rem;
  transition: all 1s ease;
  cursor: pointer;

  &:hover {
    border-color: $accent-color;
  }

  .image {
    display: flex;
    overflow: hidden;
    border-radius: .8rem;
    width: 100%;
    aspect-ratio: 1;
    background-color: transparentize($light-secondary , .75);

    img {
      width: 100%;
      height: auto;
    }
  }

  .description {
    margin-top: .6rem;
    font-family: "Fira Code", sans-serif;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    span {
      display: block;
      margin: 2px 0;
      text-align: center;
    }

    .album, .artist {
      font-size: .8rem;
      color: $light-secondary;

      &:hover {
        color: $accent-color;
      }
    }

    .artist {
      display: inline;
    }
  }
}

.musicCardSkeleton {
  border-radius: .8rem;
  transition: all 1s ease;
  cursor: pointer;
  overflow: hidden;
  border: 3px solid $light-secondary;
  animation: 1s loading ease-in-out infinite alternate;

  .image {
    width: 100%;
    aspect-ratio: 1;
  }
  .description {
    display: block;
    width: 100%;
    height: 2em;
  }
}

@keyframes loading {
  to {
    background-color: transparentize(transparentize($accent-color , .75) , .1);
  }
}