@use "../../sass/variables" as *;

.error {
  text-align: center;
  grid-column: 1/-1;
  width: 100%;
  border: 3px solid $accent-color;
  height: 10rem;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}