@use "../../sass/variables" as *;

.lyrics {

  padding: 6.4rem 0;

  .lyricsHeader {
    text-align: center;

    .albumCover {
      margin-bottom: 2rem;
      img {
        border-radius: 2px;
        width: 16rem;
        height: auto;
      }
    }

    .title {
      color: $accent-color;
    }

    .artist {
      font-size: .8em;
      color: $light-secondary;
    }
  }

  .lyricsContent {

    margin-top: 3.2rem;

    .lyricsParagraph {
      text-align: center;
      transition: all .5s ease;

      &:hover {
        color: $accent-color;
      }

      &:nth-child(4n) {
        margin-top: 2rem;
      }
    }
  }

  .btnWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6.4rem;
  }
}

.LyricsSkeleton {
  margin-top: 6.2rem;

  p {
    width: 50%;
    background-color: $light-secondary;
    height: 1em;
    margin: 1.5rem auto;
    animation: 1s loading ease-in-out infinite alternate-reverse;
    border-radius: .2em;

    &:nth-child(4n) {
      margin-top: 2rem;
    }
  }
}

@keyframes loading {
  to {
    background-color: transparentize($light-secondary , .85)
  }
}