.Header {
  display: flex;
  align-items: center;
  justify-content: center;

  .logo {
    cursor: pointer;
    height: 4.2rem;
    width: max-content;

    img {
      height: 100%;
      width: auto;
    }
  }
}