@use "../../sass/variables" as *;
@use "../../sass/mixims";

.artist {
  padding: 6.4rem 0;

  .ArtistHeader {
    text-align: center;

    .albumCover {
      margin-bottom: 2rem;
      img {
        border-radius: 2px;
        width: 16rem;
        height: auto;
      }
    }
    .artistName {
      width: max-content;
      margin: 0 auto;
      padding: 1rem 1.6rem;
      background-color: $accent-color;
      font-size: 1em;
      color: $light-primary;
      font-weight: bold;
    }
  }

  .songs {
    margin-top: 6.4rem;
    display: grid;
    gap: 2.4rem;
    grid-template-columns: repeat(4 , 1fr);

    @include mixims.breakpointsMaxWidth(760px) {
      grid-template-columns: repeat(2 , 1fr);
    }

    @include mixims.breakpointsMaxWidth(390px) {
      grid-template-columns: repeat(1 , 1fr);
    }
  }
}