@use "../../sass/variables" as *;
@use "../../sass/mixims";

.artist {
  padding: 6.4rem 0;

  .ArtistHeader {
    text-align: center;

    .albumCover {
      margin-bottom: 2rem;
      img {
        border-radius: 2px;
        width: 16rem;
        height: auto;
      }
    }
    .artistName {
      width: max-content;
      margin: 0 auto;
      padding: 1rem 1.6rem;
      background-color: $accent-color;
      font-size: 1em;
      color: $light-primary;
      font-weight: bold;
    }
  }
}

.artist .songs ,
.artistSkeleton .songs{
  margin-top: 6.4rem;
  display: grid;
  gap: 2.4rem;
  grid-template-columns: repeat(4 , 1fr);

  @include mixims.breakpointsMaxWidth(760px) {
    grid-template-columns: repeat(2 , 1fr);
  }

  @include mixims.breakpointsMaxWidth(390px) {
    grid-template-columns: repeat(1 , 1fr);
  }
}

.artistSkeleton {
  margin-top: 3.2rem;

  .image {
    background-color: transparentize($light-secondary , .9);
    width: 16rem;
    aspect-ratio: 1;
  }

  .artistName {
    height: 3.2rem;
    width: 12rem;
    background-color: transparentize($light-secondary , .9);
    margin-top: 2rem;
  }

  .artistHeader {
    width: max-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}