@use "../src/sass/variables" as *;
@use "../../sass/mixims";

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  padding-top: 4rem;
  margin-bottom: 2rem;

  @include mixims.breakpointsMaxWidth(600px) {
    font-size: 1.2rem;
  }

  p {
    display: flex;
    align-items: center;

    span {
      margin:.5em ;
    }

    a {
      color: $accent-color;
      margin-left: .5em;
    }
  }
}