@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: color,background-color 50ms ease-in;
}

*::selection {
  background-color: #1c1c1c;
  color: white;
}

*:first-letter::selection{
  background-color: #1c1c1c!important;
  color: white;
}


@font-face {
  font-family: "Edu";
  src: url("/fonts/Edu.woff");
}

body::-webkit-scrollbar {
  display: none;
}