@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: color,background-color 100ms ease-in;
}

*::selection {
  background-color: #1c1c1c;
  color: white;
}

*:first-letter::selection{
  background-color: #1c1c1c!important;
  color: white;
}


@font-face {
  font-family: "favorit";
  font-weight: 400;
  src: url("/fonts/FavoritPro-Regular.woff");
}

@font-face {
  font-family: "favorit";
  font-weight: 500;
  src: url("/fonts/FavoritPro-Medium.woff");
}

@font-face {
  font-family: "favorit";
  font-weight: 700;
  src: url("/fonts/FavoritPro-Bold.woff");
}

body::-webkit-scrollbar {
  display: none;
}