@use "./sass/global";
@use "./sass/typography";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Edu";
  src: url("/fonts/Edu.woff");
}

body::-webkit-scrollbar {
  display: none;
}