@use "../../sass/mixims";

.result {
  display: grid;
  gap: 2.4rem;
  grid-template-columns: repeat(4 , 1fr);

  @include mixims.breakpointsMaxWidth(760px) {
    grid-template-columns: repeat(2 , 1fr);
  }

  @include mixims.breakpointsMaxWidth(390px) {
    grid-template-columns: repeat(1 , 1fr);
  }
}